<app-header></app-header>

<div class="EditProfilecontainer">
    <div class="SubEditprofileContainer">
        <h2>Edit Profile</h2>
        <hr>
            <div class="CenterInputContainer">
                <div class="LeftSideInputContainer">
                    <span class="LabelInputJoin">
                        <label for="Name">User Name:</label>
                        <input type="text" id="Name" name="name" [(ngModel)]="user_info.name" required>
                    </span>
                    
                    <span class="LabelInputJoin">
                        <label for="email">email:</label>
                        <input type="email" id="email" name="email" [(ngModel)]="user_info.email"  required>
                    </span>
                    
                    <span class="LabelInputJoin">
                        <label for="pincode">pincode:</label>
                        <input type="number" id="pincode" name="pincode" [(ngModel)]="user_info.pincode"  required>
                    </span>
                </div>
                
                <div class="RightSideInputContainer">
                    <span class="LabelInputJoin">
                        <label for="password">password :</label>
                        <input id="password" name="password" placeholder="***********" disabled required >
                    </span>
                    <span class="LabelInputJoin">
                        <label for="address">address:</label>
                        <input type="text" id="address" name="address" [(ngModel)]="user_info.address"   required>
                    </span>
                    
                    <span class="LabelInputJoin">
                        <label for="mobile">mobile:</label>
                        <input id="mobile" name="" [(ngModel)]="user_info.mobile"  required >
                    </span>
                    
                </div>
            </div>
            <div class="ImageAndSubmitContainer">
                <span class="ButtonContainerBox">
                    <button [routerLink]="['/profile']">Cancel</button>
                    <button (click)="updateUserInfo()">Update</button>
                </span>
            </div>
    </div>
</div>