<div class="RootProductsContainer">
    <div class="AddNewProductContainer">
        <span id="totalplusrefresh">
            <button class="RefreshProducts" (click)="GetAllProducts()"><img src="refresh.svg" id="refreshimage" alt=""></button>
            <h2 id="totalproducts">TotalProducts : {{ AllProducts.length}} </h2>
        </span>
        <button id="AddProduct" [routerLink]="['/admin/addproduct']">Add product</button>
    </div>
   
    <div class="AllProductsListContainer">
        <div class="AllproductsSubContainer" *ngIf="AllProducts.length > 0; else noProducts">
        <ul>
        <li *ngFor="let product of AllProducts" class="productitemlist">
            <img [src]="'http://localhost:5156' + product.imageUrl" alt="{{ product.name }}">
            <div class="productDetailsDiv">
                <h3 title="{{product.description}}">{{ product.name }}</h3>
                <p><strong>Brand:</strong> {{ product.brand }}</p>
                <p><strong>Price:</strong> ₹{{ product.price }}</p>
                <p [ngStyle]="{ 'color': product.stock < 50 ? 'red' : 'black' }"><strong>Stock Available:</strong> {{ product.stock }}</p>
                <!-- <p>{{ product.description }}</p> -->
            </div>
            <div class="ProductActionsContainer">
                <button [routerLink]="['/admin/editproduct/' + product.id]" class="ActionButton color1">Edit</button>
                <!-- <button [routerLink]="['/admin/updatestock/' + product.id]" class="ActionButton color3">update stock</button> -->
                <button (click)="deleteProduct(product.id)" class="ActionButton color2">Delete</button>
            </div>
        </li>
        </ul>
        </div>
        <ng-template #noProducts>
            <p>No products available.</p>
        </ng-template>
    </div>
</div>


