

<div class="HeaderContainerRoot">
    <header class="header">
        <div class="Logo" (click)="navigateToHome()">
            <span class="LogoText" >Ubuy</span>
            <h5 id="WeSell">WeSell</h5>
        </div>
        <nav class="navbar">
            <div class="navContainer">
                <span *ngIf="location" class="LocationElement" title="location">
                    <img src="refreshloc.svg" class="refreshButton" title="location" (click)="updateLocation()" alt="location" width="33px" height="33px" style="padding-right: 5px;">
                    {{ location }}
                    <!-- <button class="refreshButton"><img src="refreshloc.svg" width="25px" height="25px" alt=""></button> -->
                </span>
                <div class="searchContainer">
                    <input type="text" class="SearchInputBox" title="search" placeholder="Search products..." (input)="OnSearchInput($event)" />
                    <!-- search results -->
                    <div *ngIf="searchResults.length > 0" class="searchResultsList">
                        <span *ngFor="let product of searchResults" class="resultantproductspan" [routerLink]="'/product/' + product.id">
                            {{ product.name}}
                        </span>
                    </div>
                    <div *ngIf="NoProductsFound" class="NoProductsFound">
                        No products found.
                    </div>
                </div>

                <div class="ButtonContainer">
                    <button *ngIf="!isLoggedIn" (click)="navigateToLogin()" class="SimpleButton BtnColor1" title="login"> <img src="login1.svg" height="30px" width="35px" style="padding-right: 5px;" alt="">Login / Register</button>
                    <button *ngIf="isLoggedIn" (click)="navigateToProfile()" class="SimpleButton BtnColor2" title="Profile"><img src="profileicon.svg" height="30px" width="35px" style="padding-right: 10px;" alt="">Profile</button>
                    <button class="SimpleButton BtnColor5" (click)="navigateToCart()" title="Cart">
                        <img src="cart2.svg" width="35px" height="30px" style="padding-right:10px;" alt="">Cart
                    </button>
                    <button *ngIf="IsAdmin" [routerLink]="['/admin/home']" class="SimpleButton BtnColor5" title="Admin"><img src="adminicon.svg" width="35px" height="30px" style="padding-right:10px;" alt="">Admin</button>
                    <button *ngIf="isLoggedIn" (click)="logout()" class="SimpleButton BtnColor3" title="Logout"><img src="logout.svg" height="30px" width="35px" style="padding-right:10px;" alt="">Logout</button>
                </div>
            </div> 

                <div class="burger" (click)="toggleMenu()">
                    <span><img src="menu2.svg" alt="" height="30px" width="30px"></span>
                </div>
                <div class="menuBarContainer" [ngClass]="{'sidebar-visible': menuStatus, 'sidebar-hidden': !menuStatus}">
                    <span>
                        <button (click)="closemenu()" class="SimpleButton BtnColor1 widthfull">
                            close
                        </button>
                    </span>
                    <span>
                        <button *ngIf="!isLoggedIn" (click)="navigateToLogin()" class="SimpleButton BtnColor1 widthfull" title="login"> <img src="login1.svg" height="30px" width="35px" style="padding-right: 5px;" alt="">Login / Register</button>
                    </span>
                    <span>
                        <button *ngIf="isLoggedIn" (click)="navigateToProfile()" class="SimpleButton BtnColor2 widthfull" title="Profile"><img src="profileicon.svg" height="30px" width="35px" style="padding-right: 10px;" alt="">Profile</button>
                    </span>
                    <span>
                        <button class="SimpleButton BtnColor5 widthfull" (click)="navigateToCart()" title="Cart">
                            <img src="cart2.svg" width="35px" height="30px" style="padding-right:10px;" alt="">Cart
                        </button>
                    </span>
                    <span>
                        <button *ngIf="IsAdmin" [routerLink]="['/admin/home']" class="SimpleButton BtnColor5 widthfull" title="Admin"><img src="adminicon.svg" width="35px" height="30px" style="padding-right:10px;" alt="">Admin</button>
                    </span>
                    
                    <span *ngIf="location" class="LocationElement" title="location">
                        <img src="refreshloc.svg" class="refreshButton" title="location" (click)="updateLocation()" alt="location" width="33px" height="33px" style="padding-right: 5px;">
                        {{ location }}
                        <!-- <button class="refreshButton"><img src="refreshloc.svg" width="25px" height="25px" alt=""></button> -->
                    </span>
                    <span>
                        <button *ngIf="isLoggedIn" (click)="logout()" class="SimpleButton BtnColor3 widthfull" title="Logout"><img src="logout.svg" height="30px" width="35px" style="padding-right:10px;" alt="">Logout</button>
                    </span>
                </div>

        </nav>
      </header> 
</div>

