<div class="AddProductscontainer">
    <div class="SubAddProductContainer">
        <h2>{{buttontitle}} Product</h2>
        <hr>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="CenterInputContainer">
                <div class="LeftSideInputContainer">
                    <span class="LabelInputJoin">
                        <label for="ProductName">Product Name:</label>
                        <input type="text" id="ProductName" name="ProductName" [(ngModel)]="NewProduct.name" required>
                    </span>
                    
                    <span class="LabelInputJoin">
                        <label for="product-price">Price:</label>
                        <input type="number" id="product-price" name="price" [(ngModel)]="NewProduct.price"  required>
                    </span>
                    
                    <span class="LabelInputJoin">
                        <label for="product-brand">Brand:</label>
                        <input type="text" id="product-brand" name="brand" [(ngModel)]="NewProduct.brand"   required>
                    </span>
                </div>
                
        
                <div class="RightSideInputContainer">
                    <span class="LabelInputJoin">
                        <label for="Productstock">Stock:</label>
                        <input type="number" id="Productstock" name="Productstock" [(ngModel)]="NewProduct.stock"  required>
                    </span>
                    
                    <span class="LabelInputJoin">
                        <label for="productdescription">Description:</label>
                        <textarea id="productdescription" name="productdescription" [(ngModel)]="NewProduct.description"  required ></textarea>
                    </span>
                    
                    <span class="LabelInputJoin" >
                        <label for="categoryId">Category:</label>
                        <select id="categoryId" name="categoryId" [(ngModel)]="NewProduct.categoryId">
                            <option *ngFor="let cat of AllCategories" [value]="cat.id">{{cat.name}}</option>
                        </select>
                    </span>
                    
                </div>
            </div>
            <div class="ImageAndSubmitContainer">
                <span class="LabelImageJoin">
                    <label for="ProductimageUrl">Upload Image:</label>
                    <input type="file" id="ProductimageUrl" name="ProductimageUrl" (change)="onFileSelected($event)" class="ImagefileUpload" required>
                </span>
                <span class="ButtonContainerBox">
                    <button [routerLink]="['/admin/Products/']">Cancel</button>
                    <button type="submit" (click)="AddNewProduct()">{{buttontitle}} Product</button>
                </span>
            </div>
        </form>
    </div>
</div>