<app-header></app-header>

<div class="OrderPageContainer">
  <div class="OrderPageSecondaryContainer">
    <h2 class="OrderTitle">Order Summary</h2>
    <hr>
    <div class="AddressContainer">
        <span class="AddressSpan">
            <label for="address" class="LabelforAddress">Delivery Address :</label>
            <input id="address" type="text" [(ngModel)]="address" class="InputDeliAddress" placeholder="Enter your address"/>
            <small class="text-danger" *ngIf="errorMessages.address">{{ errorMessages.address }}</small>
        </span>
          
        <span class="PincodeSpan">
            <label for="pincode" class="LabelforPincode">Pincode :</label>
            <input id="pincode" type="text" [(ngModel)]="pincode" class="InputPincode" placeholder="Enter pincode"/>
            <small class="text-danger" *ngIf="errorMessages.pincode">{{ errorMessages.pincode }}</small>
        </span>  
    </div>
    <hr>

    <h5 class="BillDetailsTitle">Bill Details</h5>
    <div class="ProductsFinalList">
        <div class="HeadingsContainer">
            <span id="ProductName" class="ElementBox">ProductName</span>
            <span id="Quantity" class="ElementBox">Quantity</span>
            <span id="Price" class="ElementBox">Price</span>
        </div>
        <div class="ContentContainer" *ngFor="let item of orderData.selectedItems">
          <span id="names" class="ElementBox">{{ item.name }}</span>
          <span id="quantities" class="ElementBox">{{ item.quantity }}</span>
          <span id="prices" class="ElementBox">₹{{ item.price }}</span>
        </div>
        <div class="TotalPrice1">Total Amount: ₹{{ orderData.totalPrice }}</div>

    </div>
    <!-- <table class="table table-striped text-center">
      <thead class="table-secondary">
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderData.selectedItems">
          <td class="fw-semibold">{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.price }}</td>
        </tr>
      </tbody>
    </table> -->

    <div class="PaymentSelectContainer">
        <h5 class="SelectLabel">Select Payment Method:</h5>
        <select [(ngModel)]="paymentMethod" class="SelectPaymentSelect">
            <option value="">-- Select Payment Method --</option>
            <option value="Credit Card">Credit Card</option>
            <option value="Debit Card">Debit Card</option>
            <option value="Cash on Delivery">Cash on Delivery</option>
        </select>
    </div>
    <small class="text-danger" *ngIf="errorMessages.paymentMethod">{{ errorMessages.paymentMethod }}</small>


    <div class="BottomConfirmContainer">
        <span class="TotalAmountFooter">
            <p class="TotalBill">Total Bill: ₹</p>
            <p class="PriceTo">{{ orderData.totalPrice }}</p>
        </span>
        <button class="ConfirmButton" (click)="placeOrder()">Confirm Order</button>
    </div>
  </div>
</div>
