<div class="OverViewContainer">
    <div class="SecondaryContainerOverview">
        <div class="OverviewBox">
            <span class="HeadingSpanContainer">Total Reveneue</span>
            <span class="ContentSpanBox">₹234567</span>
            <span class="ButtonSpanBox">
                <button>Button</button>
            </span>
        </div>
        <div class="OverviewBox">
            <span class="HeadingSpanContainer">Total Reveneue</span>
            <span class="ContentSpanBox">₹234567</span>
            <span class="ButtonSpanBox">
                <button>Button</button>
            </span>
        </div>
        <div class="OverviewBox">
            <span class="HeadingSpanContainer">Total Reveneue</span>
            <span class="ContentSpanBox">₹234567</span>
            <span class="ButtonSpanBox">
                <button>Button</button>
            </span>
        </div>
        <div class="OverviewBox">
            <span class="HeadingSpanContainer">Total Reveneue</span>
            <span class="ContentSpanBox">₹234567</span>
            <span class="ButtonSpanBox">
                <button>Button</button>
            </span>
        </div>
        <div class="OverviewBox">
            <span class="HeadingSpanContainer">Total Reveneue</span>
            <span class="ContentSpanBox">₹234567</span>
            <span class="ButtonSpanBox">
                <button>Button</button>
            </span>
        </div>
    </div>
</div>