.LoginPageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

.LoginBox {
    width: 100%;
    max-width: 400px;
    height: 330px;
    margin: 50px auto;
    padding: 20px 10px;
    background: rgb(42, 42, 42);
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  

.inputDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.LoginBox .EmailInput {
  display: block;
  width: 80%;
  margin: 5px 0;
  padding: 10px 20px;
  border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
}

.LoginBox .PasswordInput{
    display: block;
    width: 80%;
    margin: 5px 0;
    margin-bottom: 30px;
    padding: 0px 20px;
    font-weight: 600;
    font-size: 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255)
}

.LoginBox .EmailInput:focus{
  /* outline: rgb(224, 11, 11); */
  /* background-color: aquamarine; */
  border: 2px solid rgb(8, 163, 101);
  font-size: 20.1px;
}

.LoginBox .PasswordInput:focus{
  /* outline: rgb(224, 11, 11); */
  /* background-color: aquamarine; */
  border: 2px solid rgb(8, 163, 101);
  font-size: 21px;
}
button {
    background: #09a674;
    color: rgb(0, 0, 0);
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 80%;
}
  
button:hover {
    background: #0bc58a;
}
  
  .register-link {
    margin-top: 10px;
  }
  
  #loginheading{
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
  }

  #skipForNow,.NewHere{
    color: #ffffff;
  }

  .RegisterLink{
    color:#04ffb0;
    cursor: default;
  }

  #backbutton{
    width:50px;
    height:50px;
    position:absolute;
    top:15px;
    left:20px;
  }
  
  #backimage{
    width: 100%;
    height:100%;
  }