<!-- <app-header></app-header> -->
<span id="backbutton">
  <img id="backimage" src="arrow-left-svgrepo-com.svg" [routerLink]="['']" alt="back">
</span>
 <div class="LoginPageContainer">
  <div class="LoginBox">
    <h2 id="loginheading">Login</h2>
    <div class="inputDiv">
        <input class="EmailInput" type="email" [(ngModel)]="email" placeholder="Enter your email" required />
        <input class="PasswordInput" type="password" [(ngModel)]="password" placeholder="Enter your password" required />
        <button (click)="login()">Login</button>
    </div>
    <p class="NewHere">New here? <a (click)="navigateToRegister()" class="RegisterLink">Register Now</a></p>
    <!-- <a routerLink="/Home" id="skipForNow">Skip for Now</a> -->
  </div>
 </div>

  