<app-header></app-header>
<div id="DashBoardContainer">
    <div id="DashBoardInnerContainer">
        <div id="sidebarContainer">
            <a id="backfromadmin" [routerLink]="['']" id="Home"><img src="backic.svg" width="24px" height="24px" style="padding-right:10px;" alt="">Back</a>
            <a id="dashboardbuttons" [routerLink]="['/admin/home']" id="Home">Home</a>
            <a id="dashboardbuttons" [routerLink]="['/admin/Products/']" id="Products">Products</a>
            <a id="dashboardbuttons" [routerLink]="['/admin/Categories']" id="Analytics">Categories</a>
            <a id="dashboardbuttons" [routerLink]="['/admin/Orders']" id="Categories">Orders</a>
            <!-- <a id="dashboardbuttons" [routerLink]="['/admin/Users']" id="Analytics">Customers</a> -->
        </div>
        <div id="MainPageContainer">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
