<app-header></app-header>
<div id="MasterContainer" style="padding:20px 50px; margin-top: 80px;">

  <div class="product_container">
    <!-- <h2>Product List</h2> -->
    <div *ngFor="let product of SpecificProducts" class="product_card">
      <!-- <img [src]="product.imageUrl" alt="{{ product.name }}" width="100"> -->
      <!-- <a [routerLink]="['product/',product.id]" class="Productdetailslink"> </a>-->
        <div class="image_container" [routerLink]="'/product/' + product.id">
            <!-- <img src="{{product.imageUrl}}" alt="{{product.name}}"> -->
            <!-- <img src="productimage(headphone).png" alt="{{product.name}}"> -->

            <!-- <img [src]="'http://localhost:5156' + product.imageUrl" alt="Product Image"> -->
            <img [src]="product.imageUrl == 'https://example.com/example.jpg' ?  'apple.svg' : 'http://localhost:5156' + product.imageUrl" alt="categ.name">

            <!-- <img [src]="'/images/' + product.imageurl.replace('/images', '')" [alt]="product.name"> -->
            <!-- <img [src]="getImageUrl(product)" [alt]="product.name"> -->
        </div>
        
        <div class="products_details_box" >
          <div class="product_details" [routerLink]="'product/' + product.id">
            <h3 id="name">{{ product.name  }}</h3>
            <p id="brand">{{ product.brand }}</p>
            <p id="price">{{ product.price | currency: 'INR' }}</p>
          </div>
          <button class="AddTocartButton" (click)="addToCart(product.id)"> Add</button>
        </div>
    </div>
  </div>
</div>
