.home-container {
  margin-top: 80px;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }
  
  .product_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: auto;
    height:auto;
    padding: 20px 20px;
  }

  .category-card {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
    padding: 5px 10px;
    border-radius: 8px;
    background: rgb(255, 255, 255); 
    cursor: pointer;
    border: 0.1ex solid rgba(0, 0, 0, 0.3); 
    transition: all 0.1s ease-in-out;
}

.category-card:hover{
  transform: scale(0.97);
}

  .category-card h3{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0%;
  }
  .category-card p{
    margin-bottom: 0%;
    margin-top: 0px;
    font-size: 10px;
    max-width: 150px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
  }

.AdContainer{
  width: 90%;
  height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}

#AdBanner{
    display: block;
    border-radius: 15px;
    width:100%;
    height: 100%;
}
#AdBanner img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.image_left{
  width: 50px;
  height:50px;
  border-radius: inherit;
  overflow: hidden;
}
.image_left img{
  width: 100%;
  height: 100%;
  object-fit: cover;  
}




/* Notoifictaion styles  */
